* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(111, 115, 111);
    padding: 12px;
}

.header-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div strong {color: rgb(200, 60, 60); }


.clear {
    clear: both;
}

.logo {
    display: block;
    width: 70px;
    margin-right: 30px;
}
.titulo_reporte{
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
    line-height: 50px;
    font-size: 22px;
}
.title {
   line-height: 50px;
   font-size: 22px;
}

 

.fl-left {
    float: left;
}

.table {

    border-collapse: separate; /*Por defecto*/
    border-collapse: collapse;
    empty-cells: hide;
    empty-cells:hide;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(10, 7, 7);
}
  
.table, th, td {
    border: 1px solid rgb(10, 10, 10);
    border-spacing: 10px;
    padding: 5px 10px;
}

.table th {
    background-color:rgb(51, 177, 67);
}

.table tr {
    background-color: rgb(251, 249, 248);
}

.table tr:nth-child(2n) {
    background-color: white;
}

.desc {
    max-height: 30px;
    overflow-y: auto;
}

.page-break {
    page-break-after: always;
}

 h4, h5{
     text-align: center;
 }
th{
    color: white;
}

body {
    padding-bottom: 40px;
}
